[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hnBalla
[access "refs/for/refs/*"]
	read = group user/hnBalla
	push = group user/hnBalla
	label-Code-Review = -2..+2 group user/hnBalla
	label-Verified = -1..+1 group user/hnBalla
	rebase = group user/hnBalla
	removeReviewer = group user/hnBalla
	submit = group user/hnBalla
[access "refs/heads/*"]
	read = group user/hnBalla
	create = group user/hnBalla
	push = +force group user/hnBalla
	pushMerge = group user/hnBalla
[access "refs/tags/*"]
	push = group user/hnBalla
	push = +force group user/hnBalla
